:root{

    --border-radius: 5px;

    --button-small-spacing:10px;
    --button-small-font-siez:16px;

}



body {
    background-color: #f2f2f2;
    font-family: 'PingFang SC', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, sans-serif;
}

h1 {
    color: #3792cb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.left {
    flex: 1;
    flex-direction: column;
    margin-right: 2%;
    /* background-color: #4CAF50; */
}

.right {
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    /* background-color: #4CAF50; */
}


.right .button-wrapper{
    display: flex;
}


.left .button-wrapper{
    display: flex;
    max-width: 512px;   
}

.button-wrapper button{
    margin-right: var( --button-small-spacing);
    margin-bottom: 10px;
}

.button-wrapper button:last-child{
    margin-right: 0px;
}





textarea {
    /* box-sizing: border-box; */
    width:calc(100% - 20px - var(--border-radius) + 1px);
    padding: 10px 10px;
    resize: none;
    font-size: 20px;
    /* font-family: Arial, sans-serif; */
    border-radius: var(--border-radius);
    border: 2px solid #000;
    overflow: auto;
}


.file-selector{

  display: none;
}


.button-file-selector {
    flex: none; /* 取消子元素宽度的自动调整 */
    width: 512px !important;
    /* display: block; */
    /* width: 512px !important; */
    padding: 5px;
    font-size: var(--button-small-font-siez);
    color: rgb(0, 0, 0);
    background-color: #a2d5ff;
    border-radius: var(--border-radius);
    border: 2px solid #000;
    cursor: pointer;

    margin-bottom: 20px;
}

.button-small {
    flex-grow: 1;
    /* display: block; */
    /* width: 100%; */
    padding: 5px;
    font-size: var( --button-small-font-siez);
    color: rgb(0, 0, 0);
    background-color: #a2d5ff;
    border-radius: var(--border-radius);
    border: 2px solid #000;
    cursor: pointer;
}



.button-large {
    flex: 1;
    display: block;
    width: 100%;
    margin: 1px auto;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #ffa726;
    border-radius: var(--border-radius);
    border: 2px solid #000;
    cursor: pointer;

    margin-top: 2px;
    margin-bottom: 8px;
}

.button-large:hover {
    background-color: #ff9100;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.inactive {
    background-color: black;
    color: white;
}

.active:focus,
.inactive:focus {
    outline: none;
}

.image-display {
    max-width: 512px;
    max-height: 512px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.image-name {
    margin-bottom: 5px;
}



.btn-group {
    margin-top: 10px;

}

.image-display {
    order: 2;
}


input[type="checkbox"] {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    vertical-align: middle; /* 垂直居中对齐 */
  }
  
  input[type="checkbox"]:checked {
    background-color: #0a7c00;
    border-color: #ccc;
  }

label {

    vertical-align: middle; /* 垂直居中对齐 */
    
}